<div id="_user-on-board-page">
	<v-overlay :value="overlay && isOnBoard" @click.native="continueOnBoard">
		<div class="user-on-board-step-wrapper">
			<div class="user-on-board-step-container">
				<div class="on-board-image-wrapper d-flex fill-height align-center justify-center">
					<div class="on-board-image-container">
						<v-img class="on-board-image" :src="currentOnBoardImage.image" />
						<div class="ending-button-wrapper" v-if="isLastImage">
							<div class="ending-button-container">
								<div class="finish-button-container mb-5">
									<v-btn class="finish-button" @click="finishOnboard">
										<div class="cpn-content-default text-uppercase text-white">{{ text.on_board_finish }}</div>
									</v-btn>
								</div>
			
								<div class="replay-button-container">
									<v-btn class="replay-button" @click="replayOnboard">
										<div class="cpn-content-default text-uppercase text-white">{{ text.on_board_replay }}</div>
									</v-btn>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</v-overlay>
</div>