<div id="_business-insight-detail-page">
	<cpn-dsb-page-content-container >
		<template  v-slot:column-left>
			<v-container class="cpm-dbs-content-container">
				<div class="page-content-title mb-3">{{ text.title }}</div>
				<v-divider class="mt-10"/>
			</v-container>
			<div class="loading d-flex justify-center align-center" style="height: 160px;" v-if="isLoading">
				<cpn-loading />
			</div>
	
			<div v-else>
				<div class="business-insight-image-container" v-if="businessInsight.image">
					<v-img :src="businessInsight.image"></v-img>
				</div>
	
				<v-container class="cpm-dbs-content-container">
					<div class="content-container">
						<div class="content-date-container d-flex align-center">
							<div class="content-date">{{ displayDate }}</div>
							<div class="fav-btn-container ml-auto" v-if="!isQRUser">
								<v-btn @click="deleteFavorite()" v-if="isFavorited" color="red lighten-1" class="favorite-icon" elevation="0" large icon>
									<v-icon size="36">favorite</v-icon>
								</v-btn>
								<v-btn @click="addFavorite()" v-else class="favorite-icon" elevation="0" large icon>
									<v-icon size="36">favorite_border</v-icon>
								</v-btn>
							</div>
						</div>
						<div class="content-title-container d-flex align-center my-5">
							<div class="title-rectangle mr-5" />
							<div class="title-text">
								<div class="cpn-content-title font-weight-bold">{{ businessInsight.title }}</div>
							</div>
						</div>
						<div class="content-detail-container" v-html="businessInsight.detail"></div>
					</div>
				</v-container>
			</div>
		</template>

		<template v-slot:column-right>
			<cpn-dsb-feed-view category="news" :user="user" />
		</template>
	</cpn-dsb-page-content-container>
</div>
