@import "../../../../styles/vars.scss";

#_change-username-pwd-page {
    

    .menu-list {
        margin-left: -20px;
        margin-right: -20px;

        .menu-item {
            border-radius: 8px !important;
            &:hover {
                background-color: #d9caaa;

                .menu-label {
                    font-weight: bold;
                }
            }

            .menu-label {
                font-size: 14px;
                color: #000000;
            }
        }
    }
}