@import "../../../../../../styles/vars.scss";

$color-price-green: #7da580;
$color-price-yellow: #f8bf32;

#_dashboard {
    .v-tabs {
        &.hide-first-item {
            .v-slide-group__prev {
                display: none !important;
            }
        }

        &.hide-last-item {
            .v-slide-group__next {
                display: none !important;
            }
        }
    }

    .price-text {
        font-size: 1.35rem;
        &-green {
            color: $color-price-green;
        }
        &-yellow {
            color: $color-price-yellow;
        }
    }

    .date-range {
        color: white;
    }
}
