@import "../../../../../../styles/vars.scss";

#confirm-payment-page {

    .step-content {
        padding-top: 40px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 40px;
    }

    .branch-title-rectangle {
        width: 7px;
        height: 90px;
        background-color: $color-primary ;
    }

    .v-expansion-panel::before {
        box-shadow: none !important;
    }

    .v-expansion-panel::after {
        border: none !important;
    }

    .overdue {
        color: $color-error;
    }

    .due-date-icon {
        width: 24px;
        height: 24px;
    }
}
