@import "../../../../../../styles/vars.scss";

#_rewards-main-page {
    $chip-background: 100px;

    .option-item-container {
        border-radius: 30px;
        border: 1px solid $color-primary;
        cursor: pointer;
    }

    .option-item-container-mini {
        border-radius: 30px;
        border: 1px solid $color-primary;
        cursor: pointer;
        height: 120px;
        width: 120px;
        text-align: center;
    }

    .mini-menu-row {
        .menu-column {
            display: flex;

            &.left-menu {
                justify-content: flex-start;
            }

            &.center-menu {
                justify-content: center;
            }

            &.right-menu {
                justify-content: flex-end;
            }
        }
    }

    table {

        td {

            &.col-rate {
                text-align: center;
                padding-top: 10px;
                padding-bottom: 12px;
            }

            &.col-vertical-separater-line {
                width: 1px;
                background-color: #e1e1e1;
            }

            &.col-menu {
                width: 120px;
                font-size: 10.8px;
                font-weight: normal;
                line-height: 12px;
                letter-spacing: 0.11px;
            }
        }
    }

    .rate {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .rate-icon {
            width: 22px;
            height: 16px;
        }

        .rate-label {
            padding-left: 8px;
            font-size: 15px;
            font-weight: bold;
            line-height: 18px;
            letter-spacing: 0.15px;
        }
    }

    .rate-description {
        padding-left: 8px;
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: 0.12px;
    }
}