#_change-pwd-page {
    .cpm-dbs-content-container {
        height: 100%;
        position: relative;
        padding-bottom: 76px !important;

        form {
            margin-bottom: 36px;
        }

        overflow-y: auto;
    }

    .confirm-change-pwd-btn {
        position: absolute;
        bottom: 108px;
        left: 24px;
        right: 24px;
    }

    .error-notification {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fab0ba;
        padding: 16px 24px;

        display: flex;
        align-items: center;

        .error-message {
            font-size: 15px;
            color: #0c0c0c;
        }
    }
}