@import "../../../../../../styles/vars.scss";

#_status-list-page {
    .page-content-column, .column-left {
        overflow: hidden !important;
    }
    .maintainance-title-container {
        background-color: $color-primary;
        min-height: 220px;
        padding-bottom: 86px;
    }

    .tenant-title-container {
        word-wrap: break-word;
    }
    
    .tab-container {
        background: white;
        margin-top: -86px;
        padding-top: 20px;
        border-top-right-radius: 64px;
        border-top-left-radius: 64px;
    }

    .maintainance-content-wrapper {
        height: calc(100% - 200px);
        max-height: calc(100% - 200px);
        padding-bottom: 80px;
        background: white;
        position: relative;
        overflow: auto;
    }

    .description-content-container {
        width: 350px;
    }

    .v-tab:not(.v-tab--active) {
        color: black;
    }

    .v-tab::before {
        background: transparent !important;
    }

    .v-tabs-slider-wrapper {
        height: 4px !important;
    }

    .empty-status-wrapper {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pose-btn-wrapper {
        position: relative;
    }

    .pose-btn-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
    }

    $chip-background: 100px;

    .section-title {
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 18px;
        letter-spacing: 0.15px;
        text-align: left;
        color: #000000;
        padding-left: 16px;
        border-left: 4px solid $color-primary;
        margin-bottom: 10px;

        .section-subtitle {
            font-size: 15.8px;
            font-weight: normal;
            letter-spacing: 0.11px;
            padding: 9px;
        }
    }

    .add-pos-button {
        border-radius: 17px;
        background-color: $color-primary;
        color: white;
        cursor: pointer;
        width: 100%;
        height: 34px;
        font-family: $default-font !important;
        font-size: 11px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: 0.11px;
        padding-left: 16px;
        padding-top: 5px;

        &.disabled {
            background-color: #aaaaaa;
            cursor: default;
        }
    }

    .col-no-sales-image {
        width: 40px;
    }

    .no-sales-image-uncheck {
        width: 28px;
        height: 28px;
        border-radius: 14px;
        border: 1px solid $color-primary;
    }

    .col-no-sales-text {
        width: 55px;
        text-align: left;
        font-family: $default-font !important;
        font-size: 10.8px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: 0.11px;
    }

    table.form-table {

        $brd: 1px solid #bbb;

        th {
            &.col-action {
                width: 40px;
            }

            &.col-title {
                width: 100px;
            }

            &.col-amount {
                padding-left: 12px;
                padding-right: 20px;
            }

            &.col-invoice {
                width: 100px;
                border-left: $brd;
                padding-left: 8px;
                padding-right: 12px;
            }
        }

        td {

            &.col-action {
                width: 40px;
                height: 60px;
            }

            &.col-title {
                width: 70px;
                height: 60px;
                font-family: $default-font !important;
                font-size: 12px;
                font-weight: normal;
                line-height: 18px;
                letter-spacing: 0.12px;
                padding-left: 10px;
            }

            &.col-amount {
                height: 60px;
                padding-left: 12px;
                padding-right: 12px;
            }

            &.col-invoice {
                width: 100px;
                height: 60px;
                border-left: $brd;
                padding-left: 8px;
                padding-right: 8px;
            }

            &.col-hr {
                padding-left: 30px;
            }

            &.col-total-title {
                padding-right: 24px;
                height: 50px;
            }

            &.col-total-amount {
                padding-right: 24px;
                height: 50px;
            }

            &.col-total-invoice {
                width: 98px;
                border-left: 1px solid #bbb;
                padding-left: 8px;
                padding-right: 24px;
                height: 50px;
            }
        }
    }

    .sales-amount-title,
    .sales-invoice-title {
        font-family: $default-font !important;
        font-size: 10.8px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: 0.11px;
        text-align: right;
    }

    .channel-total-title {
        font-family: $default-font !important;
        font-size: 12px;
        font-weight: bold;
        line-height: 18px;
        letter-spacing: 0.12px;
        text-align: left;
        padding-left: 30px;
    }

    .channel-total-price,
    .channel-total-invoice {
        font-family: $default-font !important;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        letter-spacing: 0.15px;
        text-align: right;
    }

    .section-sales-amount-title {
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 18px;
        letter-spacing: 0.15px;
        text-align: left;
        color: #000000;
    }

    .section-subtitle-extra-line {
        font-size: 10.8px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.11px;
        text-align: left;
        color: #000000;
        padding-left: 20px;
    }

    .upload-container {
        border-radius: 39px;
        border: 1px dotted #b2b2b2 !important;

        &.upload-container-validate-error {
            border: 2px solid #b5485c !important;
        }
    }

    .col-file-type {
        width: 60px;
    }

    .col-file-name {
        font-family: $default-font !important;
        font-size: 12px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: 0.12px;

        .file-name-view {
            width: 100%;

            .file-name-text {
                display: inline-block;
                word-break: break-all;
                width: 80%;
                text-align: left;
            }

            .file-upload-text {
                display: inline-block;
                word-break: break-all;
                width: 19%;
                text-align: right;
            }
        }
    }

    .col-file-action {
        width: 36px;
        padding-top: 19px;
    }

    .upload-progress-frame {
        height: 8px;
        border-radius: 4px;
        border: 1px solid #dbdbdb;
        padding: 2px;
    }

    .upload-progress {
        height: 2px;
        border-radius: 1px;
    }

    .upload-progress-loading {
        background-color: #dbdbdb;
    }

    .upload-progress-success {
        background-color: $color-primary;
    }

    .upload-progress-failed {
        background-color: #e46d78;
    }

    .created-by-container,
    .updated-by-container {
        padding-left: 20px;
    }

    /* Hide arrow in input type number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Hide arrow in input type number */
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .file-list-table {
        table-layout: fixed;
    }

    .footer-div-contact {
        position: absolute;
        bottom: 130px;
        width: 90%;
    }

    .section-title-detail {
        padding-left: 20px;
        padding-bottom: 15px;
    }
}
