<div id="_emp-re-password-page">
	<cpn-public-page-content-container>
		<template  v-slot:center-column>
			<v-container>
				<!-- ---------- Private Info ---------- -->
				<div class="page-content-title my-3">ข้อมูลส่วนตัว</div>
				<div class="private-info-container">
					<div class="username-container my-5">
						<div class="cpn-content-subtitle my-3">ชื่อ</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-name" type="text" class="form-control" placeholder="ชื่อ" v-model="form.firstname" :disabled="form.submitted">
							</div>
						</div>
						<div class="cpn-text-body-2 mt-2 ml-2 text-error" v-if="form.validated && form.errors.emptyName">
							{{ form.errors.emptyName }}
						</div>
					</div>
					<div class="username-container my-5">
						<div class="cpn-content-subtitle my-3">นามสกุล</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-name" type="text" class="form-control" placeholder="นามสกุล" v-model="form.lastname" :disabled="form.submitted">
							</div>
						</div>
						<div class="cpn-text-body-2 mt-2 ml-2 text-error" v-if="form.validated && form.errors.emptyLastname">
							{{ form.errors.emptyLastname }}
						</div>
					</div>
					<div class="username-container my-5">
						<div class="cpn-content-subtitle my-3">อีเมล</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-name" type="text" class="form-control" placeholder="อีเมล" v-model="form.email" :disabled="form.submitted">
							</div>
						</div>
						<div class="cpn-text-body-2 mt-2 ml-2 text-error" v-if="form.validated && form.errors.invalidEmail">
							{{ form.errors.invalidEmail }}
						</div>
					</div>
					<div class="username-container my-5">
						<div class="cpn-content-subtitle my-3">เบอร์โทรศัพท์</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-name" type="text" class="form-control" placeholder="เบอร์โทรศัพท์" maxlength="10" v-model="form.phone" :disabled="form.submitted">
							</div>
						</div>
						<div class="cpn-text-body-2 mt-2 ml-2 text-error" v-if="form.validated && form.errors.invalidPhone">
							{{ form.errors.invalidPhone }}
						</div>
					</div>
				</div>

				<!-- ---------- New User ---------- -->
				<div class="password-content-wrapper">
					<div class="page-content-title my-3">สร้างชื่อผู้ใช้ใหม่ของคุณ</div>
					<div class="username-container my-5">
						<div class="cpn-content-subtitle my-3">ใส่ชื่อผู้ใช้</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-username" type="text" class="form-control" placeholder="ชื่อผู้ใช้ เช่น อีเมล เบอร์โทรศัพท์" v-model="form.username" :disabled="tokenIsBroken">
							</div>
						</div>
						<div class="cpn-text-body-2 mt-2 ml-2 text-error" v-if="form.validated && form.errors.username">
							{{ form.errors.username }}
						</div>
					</div>
					<cpn-note-text class="my-3">
						<div class="text-gray">
							{{ $t('username_hint') }}
						</div>
					</cpn-note-text>

					<div class="password-container my-5">
						<div class="cpn-content-subtitle my-3">ใส่รหัสผ่าน</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-password" type="password" class="form-control" placeholder="รหัสผ่าน" v-model="form.password" :disabled="tokenIsBroken">
							</div>
						</div>
						<div class="cpn-text-body-2 mt-2 ml-2 text-error" v-if="form.validated && (form.errors.pLength || form.errors.character || form.errors.mismatch)">
							{{ form.errors.pLength || form.errors.character || form.errors.mismatch }}
						</div>
					</div>
					<div class="re-password-container">
						<div class="cpn-content-subtitle my-3">ยืนยันรหัสผ่าน</div>
						<div class="form-group">
							<div class="input-group">
								<input id="input-re-password" type="password" class="form-control" placeholder="รหัสผ่าน" v-model="form.confirmPassword" :disabled="tokenIsBroken">
							</div>
						</div>
					</div>
					<cpn-note-text class="my-3">
						<div class="text-gray">
							{{ $t('pwd_hint') }}
						</div>
					</cpn-note-text>
					<div class="btn-container">
						<v-btn @click="submit" color="primary" :height="48" :disabled="form.submitDisabled || tokenIsBroken" elevation="0" block rounded>
							<span class="cpn-content-subtitle text-uppercase text-white">ยืนยัน</span>
						</v-btn>
					</div>
				</div>

			</v-container>
		</template>
	</cpn-public-page-content-container>
</div>