@import "../../../../styles/vars.scss";

#_faq-page {
    .cpm-dbs-content-container {
        min-height: 100%;
    }

    .filter-faqs-dialog {
        border-radius: 24px !important;

        .filter-item-name {
            font-size: 18px;
            color: #000000;
        }
    }

    .faq-list-container {
        margin-top: 20px;
        .faq-list {
            z-index: 0 !important;

            .faq-item {
                .faq-item-title {
                    font-size: 16px;
                    font-weight: bold;
                    color: #000000;
                }

                .faq-item-content {
                    img {
                        max-width: 100% !important;
                    }
                }

                &.v-item--active {
                    .faq-item-title {
                        color: $color-primary;
                    }

                    .v-icon {
                        color: $color-primary;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 2px solid #e1e1e1 !important;
                }

                .v-expansion-panel-content__wrap {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
    }
}