#annoucement-page {

    .see-detail-btn-container {
        width: 100%;
    }

    .video-content-container {
        border-radius: 48px;
    }

    .close-annoucement-btn-container {
        position: absolute;
        bottom: -28px;
    }
}
