<div id="contact-form-page">
    <cpn-dsb-page-content-container>
        <template v-slot:column-left>
			<cpn-dsb-action-acknowledge v-if="showSuccess">
				<template v-slot:title>
					<div class="status-title mb-0 cpn-text-h4">THANK YOU</div>
				</template>
        <template v-slot:content>
					<div class="d-flex align-center flex-column">
						<div class="acknowledge-subtitle text-white text-center mt-3 cpn-text-h6">{{ $t("receive_info_success") }}</div>
						<div class="text-white my-3">{{ $t("staff_contact_asap") }}</div>
						<v-btn color="primary" @click="back" class="mt-6" :height="48" rounded>
							<span class="text-uppercase px-4">{{ $t("ok") }}</span>
						</v-btn>
					</div>
				</template>
        </cpn-dsb-action-acknowledge>
        <v-container v-else class="cpm-dbs-content-container" :class="{ h100: loading }">
            <div v-if="loading" class="h100 d-flex justify-center align-center">
                <div>
                    <cpn-loading />
                </div>
            </div>

            <template v-else-if="branch">
					<div class="page-content-title mb-2">{{ title }}</div>
					<form ref="contactForm" class="mt-6">
						<div class="cmp-name">
							CENTRAL PATTANA PUBLIC<br>
							COMPANY  LIMITED
						</div>
						<div class="display-branch cpn-text-body-1">{{ branchName }}</div>
					
						<v-divider class="my-6"/>

						<table class="w100 branch-info-table">
							<tr v-for="(row, idx) in branchInfo" :key="'info-row-' + idx">
								<td class="label-col">
									<div class="py-1 cpn-text-body-1 font-weight-bold">{{ row.label }}</div>
								</td>
								<td>
									<div class="py-1 display-branch cpn-text-body-1" v-html="row.value">{{ row.value || "-" }}</div>
								</td>
							</tr>
						</table>

						<v-divider class="my-6"/>

						<div class="cpn-text-h6 mb-6">{{ text.title_suggestions }}</div>
						<section class="form-section mb-4">
							<div class="section-title">{{ text.section_title_specify_the_topic }}</div>

							<div class="topic-container form-group my-3">
								<!-- <div class="topic-input">
									<input :id="'input-contact-topic-' + form.topic.id" type="text" class="form-control"
										:placeholder="text.phd_suggestions" v-model="form.topic.value" :disabled="form.loading" />
								</div> -->

								<div class="input-error-message mt-2" v-if="form.validated && form.errors.topic">{{ form.errors.topic }}</div>
							</div>

							<div class="cpn-text-body-2">{{ text.title_select_from_suggestion }}</div>
							<div class="suggestion-list">
								<v-chip :disabled="form.loading" @click="form.selectTopic(t)" :color="form.isTopicSelected(t) ? 'primary' : ''" class="my-2 mr-2" v-for="(t, idx) in form.topics" :key="'topic-' + idx">
									{{ t.name }}
								</v-chip>
							</div>
						</section>

						<!-- ============ more detail ============ -->
						<section class="form-section mb-6">
							<div class="section-title">{{ text.section_title_add_more_detail }}</div>
							
							<div class="more-detail-container form-group mt-3">
								<div class="more-detail-input">
									<textarea :maxlength="form.maxInfo" style="min-height: 100px;" rows="3" :id="'input-contact-more-detail-' + form.moreDetail.id" class="form-control"
										:placeholder="text.phd_input_more_detail" v-model="form.moreDetail.value" :disabled="form.loading" />
								</div>
							</div>
							<div class="d-flex mt-2 mb-3 form-group">
								<div class="flex-grow-1">
									<div class="input-error-message" v-if="form.validated && form.errors.detail">{{ form.errors.detail }}</div>
								</div>
								<div class="flex-shrink-0 pl-3" style="font-size: 12px;color: #a3a3a3;">{{ form.moreDetail.value.length }}/{{ form.maxInfo }}</div>
							</div>
						</section>

						<!-- ============ images ============ -->
						<section class="form-section mb-6">
							<div class="section-title">{{ text.section_title_upload_imgs }}</div>
							
							<v-row class="image-form-list">
								<v-col cols="4" v-for="(img, idx) in form.imgs" :key="idx">
									<div class="pa-4">
										<v-card :disabled="form.loading" class="img-item d-flex justify-center align-center">
											<template v-if="img.file && img.fileDataUrl">
												<v-img height="100%" width="100%" :src="img.fileDataUrl"/>
												<v-btn @click="form.remove(img.id)" color="error" x-small fab class="remove-img-btn">
													<v-icon>clear</v-icon>
												</v-btn>
											</template>
            <v-card :disabled="form.loading" v-else :for="'img-browser-' + img.id" tag="label" class="d-flex justify-center align-center" flat :height="36" :width="36">
                <v-icon>local_see</v-icon>
                <input :disabled="form.loading" type="file" v-show="false" :id="'img-browser-' + img.id" @input="form.onFileChange($event, img.id)" accept="image/x-png,image/jpeg" />
            </v-card>
            </v-card>
</div>
</v-col>
</v-row>
</section>

<!-- ============ contact name ============ -->
<section class="form-section mb-6">
    <div class="section-title">{{ text.section_title_contact_name }}</div>

    <div class="contact-name-container form-group my-3">
        <div class="contact-name-input">
            <input autocomplete="off" :id="'input-contact-name-' + form.contactName.id" type="text" class="form-control" :placeholder="text.phd_input_name" v-model="form.contactName.value" :disabled="form.loading" />
        </div>
        <div class="input-error-message mt-2" v-if="form.validated && form.errors.contactName">{{ form.errors.contactName }}</div>
    </div>

</section>

<!-- ============ phone ============ -->
<section class="form-section mb-6">
    <div class="section-title">{{ text.phone }}</div>

    <div class="phone-container form-group my-3">
        <div class="phone-input">
            <input maxlength="10" autocomplete="off" :id="'input-phone-' + form.phone.id" type="text" class="form-control" :placeholder="text.phd_input_phone" v-model="form.phone.value" :disabled="form.loading" />
        </div>
        <div class="input-error-message mt-2" v-if="form.validated && form.errors.phone">{{ form.errors.phone }}</div>
    </div>

</section>

<!-- ============ email ============ -->
<section class="form-section mb-6">
    <div class="section-title">{{ text.email }}</div>

    <div class="email-container form-group my-3">
        <div class="email-input">
            <input ref="input-email" autocomplete="off" :id="'input-email-' + form.email.id" type="text" class="form-control" :placeholder="text.phd_email" v-model="form.email.value" :disabled="form.loading" />
        </div>
        <div class="input-error-message mt-2" v-if="form.validated && form.errors.email">{{ form.errors.email }}</div>
    </div>

</section>

<section class="form-section mb-6">
    <v-btn :disabled="form.loading || form.submitDisabled" :loading="form.loading" @click="submit" block :height="48" rounded color="primary">
        <span class="text-uppercase">{{ text.submit_send }}</span>
    </v-btn>
</section>
</form>

</template>
</v-container>
</template>
</cpn-dsb-page-content-container>
</div>